[submodule ".registry"]
	path = .registry
	url = https://github.com/pecanproject/universe
	shallow = true
	branch = HEAD
[submodule "PEcAn.all"]
	path = PEcAn.all
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/all
	registered = true
[submodule "PEcAn.DB"]
	path = PEcAn.DB
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/db
	registered = true
[submodule "PEcAn.logger"]
	path = PEcAn.logger
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/logger
	registered = true
[submodule "PEcAn.qaqc"]
	path = PEcAn.qaqc
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/qaqc
	registered = true
[submodule "PEcAn.remote"]
	path = PEcAn.remote
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/remote
	registered = true
[submodule "PEcAn.settings"]
	path = PEcAn.settings
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/settings
	registered = true
[submodule "PEcAn.utils"]
	path = PEcAn.utils
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/utils
	registered = true
[submodule "PEcAn.visualization"]
	path = PEcAn.visualization
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/visualization
	registered = true
[submodule "PEcAn.workflow"]
	path = PEcAn.workflow
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/workflow
	registered = true
[submodule "PEcAn.BASGRA"]
	path = PEcAn.BASGRA
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/basgra
	registered = true
[submodule "PEcAn.BIOCRO"]
	path = PEcAn.BIOCRO
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/biocro
	registered = true
[submodule "PEcAn.CABLE"]
	path = PEcAn.CABLE
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/cable
	registered = true
[submodule "PEcAn.CLM45"]
	path = PEcAn.CLM45
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/clm45
	registered = true
[submodule "PEcAn.DALEC"]
	path = PEcAn.DALEC
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/dalec
	registered = true
[submodule "PEcAn.dvmdostem"]
	path = PEcAn.dvmdostem
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/dvmdostem
	registered = true
[submodule "PEcAn.ED2"]
	path = PEcAn.ED2
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/ed
	registered = true
[submodule "PEcAn.FATES"]
	path = PEcAn.FATES
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/fates
	registered = true
[submodule "PEcAn.GDAY"]
	path = PEcAn.GDAY
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/gday
	registered = true
[submodule "PEcAn.JULES"]
	path = PEcAn.JULES
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/jules
	registered = true
[submodule "PEcAn.LINKAGES"]
	path = PEcAn.LINKAGES
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/linkages
	registered = true
[submodule "PEcAn.LPJGUESS"]
	path = PEcAn.LPJGUESS
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/lpjguess
	registered = true
[submodule "PEcAn.MAAT"]
	path = PEcAn.MAAT
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/maat
	registered = true
[submodule "PEcAn.MAESPA"]
	path = PEcAn.MAESPA
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/maespa
	registered = true
[submodule "PEcAn.PRELES"]
	path = PEcAn.PRELES
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/preles
	registered = true
[submodule "PEcAn.SIBCASA"]
	path = PEcAn.SIBCASA
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/sibcasa
	registered = true
[submodule "PEcAn.SIPNET"]
	path = PEcAn.SIPNET
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/sipnet
	registered = true
[submodule "PEcAn.STICS"]
	path = PEcAn.STICS
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/stics
	registered = true
[submodule "PEcAn.ModelName"]
	path = PEcAn.ModelName
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = models/template
	registered = true
[submodule "PEcAn.allometry"]
	path = PEcAn.allometry
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/allometry
	registered = true
[submodule "PEcAn.assim.batch"]
	path = PEcAn.assim.batch
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/assim.batch
	registered = true
[submodule "PEcAnAssimSequential"]
	path = PEcAnAssimSequential
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/assim.sequential
	registered = true
[submodule "PEcAn.benchmark"]
	path = PEcAn.benchmark
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/benchmark
	registered = true
[submodule "PEcAn.data.atmosphere"]
	path = PEcAn.data.atmosphere
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/data.atmosphere
	registered = true
[submodule "PEcAn.data.hydrology"]
	path = PEcAn.data.hydrology
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/data.hydrology
	registered = true
[submodule "PEcAn.data.land"]
	path = PEcAn.data.land
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/data.land
	registered = true
[submodule "PEcAn.data.mining"]
	path = PEcAn.data.mining
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/data.mining
	registered = true
[submodule "PEcAn.data.remote"]
	path = PEcAn.data.remote
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/data.remote
	registered = true
[submodule "PEcAn.emulator"]
	path = PEcAn.emulator
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/emulator
	registered = true
[submodule "PEcAn.MA"]
	path = PEcAn.MA
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/meta.analysis
	registered = true
[submodule "PEcAn.photosynthesis"]
	path = PEcAn.photosynthesis
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/photosynthesis
	registered = true
[submodule "PEcAn.priors"]
	path = PEcAn.priors
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/priors
	registered = true
[submodule "PEcAnRTM"]
	path = PEcAnRTM
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/rtm
	registered = true
[submodule "PEcAn.uncertainty"]
	path = PEcAn.uncertainty
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = modules/uncertainty
	registered = true
[submodule "BayesianTools"]
	path = BayesianTools
	url = https://github.com/florianhartig/BayesianTools
	shallow = true
	subdir = BayesianTools
	registered = true
[submodule "BioCro"]
	path = BioCro
	url = https://github.com/ebimodeling/biocro
	shallow = true
	branch = 0.951
	registered = false
[submodule "Rpreles"]
	path = Rpreles
	url = https://github.com/MikkoPeltoniemi/Rpreles
	shallow = true
	registered = false
[submodule "amerifluxr"]
	path = amerifluxr
	url = https://github.com/chuhousen/amerifluxr
	shallow = true
	registered = false
[submodule "geonames"]
	path = geonames
	url = https://github.com/ropensci/geonames
	shallow = true
	registered = false
[submodule "linkages"]
	path = linkages
	url = https://github.com/araiho/linkages_package
	shallow = true
	registered = false
[submodule "nneo"]
	path = nneo
	url = https://github.com/ropensci/nneo
	shallow = true
	registered = false
[submodule "testthat"]
	path = testthat
	url = https://github.com/r-lib/testthat
	shallow = true
	branch = v3.1.6
	registered = false
[submodule "vdiffr"]
	path = vdiffr
	url = https://github.com/r-lib/vdiffr
	shallow = true
	branch = v1.0.4
	registered = false
