[submodule ".registry"]
	path = .registry
	url = https://github.com/pecanproject/universe
	shallow = true
	branch = HEAD
[submodule "PEcAn.logger"]
	path = PEcAn.logger
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/logger
	registered = true
[submodule "PEcAn.remote"]
	path = PEcAn.remote
	url = https://github.com/PecanProject/pecan
	shallow = true
	subdir = base/remote
	registered = true
